extends layout

block content
  canvas#game(align="center")

  section#main_content
    h3 Introduction
    p Use arrow keys to navigate and space to fire missiles.
    p Works best with Chrome and Safari. Firefox can't play sound. Not tested in IE.

    h3 Credits
    ul
      li The code is a derivate work based on <a href="https://github.com/cykod">Pascal Rettig's</a> book <a href="http://www.wrox.com/WileyCDA/WroxTitle/Professional-HTML5-Mobile-Game-Development.productCd-1118301323.html">Professional HTML5 Mobile Game Development</a>. I can highly recommend it to everyone looking into HTML5 game development. Most assets are also taken from the book's samples.
      li Sound effects from <a href="http://www.freesfx.co.uk">http://www.freesfx.co.uk</a>
      li Website Design is using Github Pages Theme <a href="http://sundaykofax.github.com/baby-legs/">Hack</a> by <a href="https://github.com/bleikamp">Ben Bleikamp</a>

    h3 License MIT
    p Since this is <a href="https://github.com/cykod/AlienInvasion">derived work</a> the MIT License applies.